<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutomaticBelling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutomaticBelling.Properties.Settings>
            <setting name="nowtime" serializeAs="String">
                <value>01/10/2014 09:40:00</value>
            </setting>
            <setting name="timerstat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="friday" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>09:25:00 AM</string>
                        <string>09:30:00 AM</string>
                        <string>09:30:22 AM</string>
                        <string>10:30:00 AM</string>
                        <string>11:30:00 AM</string>
                        <string>11:35:00 AM</string>
                        <string>12:35:00 PM</string>
                        <string>01:15:00 PM</string>
                        <string>02:00:00 PM</string>
                        <string>03:00:00 PM</string>
                        <string>04:00:00 PM</string>
                        <string>04:00:17 PM</string>
                        <string>04:01:10 PM</string>
                        <string>04:04:00 PM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="allday" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>09:25:00 AM</string>
                        <string>09:30:00 AM</string>
                        <string>09:30:22 AM</string>
                        <string>10:30:00 AM</string>
                        <string>11:30:00 AM</string>
                        <string>11:35:00 AM</string>
                        <string>12:35:00 PM</string>
                        <string>01:15:00 PM</string>
                        <string>01:30:00 PM</string>
                        <string>02:30:00 PM</string>
                        <string>03:30:00 PM</string>
                        <string>03:30:13 PM</string>
                        <string>03:31:05 PM</string>
                        <string>03:34:00 PM</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="prayerf" serializeAs="String">
                <value>09:30:22 AM</value>
            </setting>
            <setting name="prayer" serializeAs="String">
                <value>09:30:22 AM</value>
            </setting>
            <setting name="nationalanthem" serializeAs="String">
                <value>03:30:13 PM</value>
            </setting>
            <setting name="nationalanthemf" serializeAs="String">
                <value>04:00:17 PM</value>
            </setting>
        </AutomaticBelling.Properties.Settings>
    </userSettings>
</configuration>